<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Metadatos: Datos referentes al funcionamiento de la página -->
        <meta charset="UTF-8">
        <title>Mi primera app</title>
    </head>

    <body>
        <!-- Logo Menu y lo necesario para que el usuario navegue en nuestra página -->
        <header>
            <h1>Mercado Liebre</h1>
            <img src="/img/logo-mercado-liebre.svg" alt="Logo mercado liebre" width="300">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/product">Products</a>                      
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Contenido principal de la página  -->
        <main>

            <section>
                <div>
                    <h2>Paletas de padel</h2>
                    <article>
                        <h3>Paleta de  padel Ardidas</h3>
                        <p>Lorem ipsum dolor sit, <span>amet consectetur</span> adipisicing elit.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </article>
                </div>
                <button>Comprar</button>

            </section>

        </main>

        <footer>
            <p>Copyright</p>
        </footer>

    </body>

</html>